a {
  text-decoration: none;
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.gallery-item__img  {
  max-width: 75%;
  max-height: 250px;
  margin: 0 auto;
  display: block;
}

.info {
  justify-content: center;
  position: absolute;
  align-items: center;
  padding: 15px;
}